{% extends "base.html" %}


{% block title %}結算畫面{% endblock %}

{% block content %}
<div class="row">
<div class="col-12">
<nav class="navbar navbar-expand-md" style="border-bottom:solid 20px;border-color:#00BB00;margin-top:20px;">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <span class="v13_58" ><img src="/media/image/finish.png" width="60" height="60">結算畫面</span>
            </li>
            
        </ul>
    </div>
</nav>
</div>
</div>

{% endblock %}