{% extends "base.html" %}


{% block title %}遊戲開始{% endblock %}

{% block css %}
<style>
    .button-54 {
        font-family: "Open Sans", sans-serif;
        font-size: 5vmin;
        {% comment %} letter-spacing: 2px; {% endcomment %}
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        border: 3px solid;
        padding: 0.25em 0.5em;
        box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      
      .button-54:active {
        box-shadow: 0px 0px 0px 0px;
        top: 5px;
        left: 5px;
      }
      
      @media (min-width: 768px) {
        .button-54 {
          padding: 0.25em 0.75em;
        }
      }
    .lds-facebook {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: black;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      }
      .lds-facebook div:nth-child(1) {
        left: 8px;
        animation-delay: -0.24s;
      }
      .lds-facebook div:nth-child(2) {
        left: 32px;
        animation-delay: -0.12s;
      }
      .lds-facebook div:nth-child(3) {
        left: 56px;
        animation-delay: 0;
      }
      @keyframes lds-facebook {
        0% {
          top: 8px;
          height: 64px;
        }
        50%, 100% {
          top: 24px;
          height: 32px;
        }
      }
    .choice{
        font-size: 120%;
        width: 60%;
        height: 50px;
        display: block;
        text-align: center;
        cursor: pointer;
        line-height: 40px;
        color: #fff;
        background-color: #000;
        transition: all .3s linear;
        margin:auto;
        margin-bottom:20px;
    }
    .choice:hover{
        background-color: #666;
    }

    .disabled {
        pointer-events: none;
        font-size: 120%;
        width: 60%;
        height: 50px;
        display: block;
        text-align: center;
        cursor: pointer;
        line-height: 40px;
        color: #fff;
        background-color: #000;
        transition: all .3s linear;
        margin:auto;
        margin-bottom:20px;
        opacity: 0.6;
        cursor: default;
    }
    .after{
        display:none;
    }
    .fadein{
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.5s;
    }
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    #photo{
        max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    align-items:center;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    display:flex;
    justify-content:center;
    }
    
</style>
{% load static %}
{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'ready.css' %}">
{% comment %} 
<nav class="navbar navbar-expand-md" style="border-bottom:solid 20px;border-color:#00BB00;margin-top:20px;margin-bottom:20px;">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <span class="v13_58" ><img src="/media/image/presentation.png" width="60" height="60">猜歌囉</span>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                
            </li>
        </ul>
  </div>
</nav> {% endcomment %}
{% comment %} <div class="container" style="margin:2%;">
    <nav id="nav">
        <ul class="container" >
            <div class="row">
                <div class="col-6 col-md-6">
                    
            <h1 style="color:white" class="fa-regular fa-user">個人畫面</h1>
                </div>
                <div class="col-6 col-md-6">
                    <a href="/" ><button class="button-54 " role="button"><span class="las la-undo">登入畫面</span></button></a>
                </div>
            </div>
        </ul>
    </nav>
</div> {% endcomment %}
<div class="container" style="margin:2%;">
    <nav id="nav">
        <ul class="container" >
            <div class="row">
                <div class="col-6 col-md-6">
                    
            <h1 style="color:white" class="las la-music">開始猜歌囉</h1>
                </div>
                
            </div>
        </ul>
    </nav>
</div>

<div class="container">
    <div class="row" id="wait" style="margin:auto">
        <h1>Loading</h1><div class="lds-facebook"><div></div><div></div><div></div></div>
    </div>
</div>
<div class="container" style="margin-top:2%">
    <div class="row" id="topic">
        {% comment %} <div class="col-xs-12 col-sm-6 col-md-12" id="choice"></div>
        <div class="col-xs-12 col-sm-6 col-md-12" id="choice"></div>
        <div class="col-xs-12 col-sm-6 col-md-12" id="choice"></div>
        <div class="col-xs-12 col-sm-6 col-md-12" id="choice"></div> {% endcomment %}
    </div>
    <div class="row" id="topic2">
    </div>
</div>
<div class="container">
    <div id="after" class="after">
        <div id="response"></div>
        <br>
        {% comment %} <div style="margin:auto;display:flex;justify-content:center;align-items:center;"> {% endcomment %}
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4">
                    <a href = '/index/{{ pk }}/'>
                        <button type="button" class="btn btn-success" style="font-size:3vmin">回首頁</button>
                        {% comment %} <button class="starBtn">回首頁</button> {% endcomment %}
                    </a>
                </div>
                <div class="col-4"></div>
                <div class="col-12 col-sm-12 col-md-4">
                    <a href = '/chat/{{ pk }}/'>
                        <button type="button" class="btn btn-success" style="font-size:3vmin">繼續遊玩</button>
                        {% comment %} <button class="starBtn">繼續遊玩</button> {% endcomment %}
                    </a>
                </div>  
            </div>
        {% comment %} </div> {% endcomment %}
    </div>
</div>
<div id="messages"></div>
<p id="countdown0" class="memoryTime" style="display:none">0</p>
<script type="text/javascript">
    var goBack = 0
    var pic_choice = []
    var ans
    var url = `ws://${window.location.host}/ws/game/`
    var chatSocket = new WebSocket(url)
    var today
    var correct = 0
    var count_number
    var check_point
    var nostalgiaGame_round_pk
    var EnterGameKey
    chatSocket.onopen  = function(e){
        chatSocket.send(JSON.stringify({
            "goBack":goBack,
        }))
    }
    chatSocket.onmessage = function(e){
        let data = JSON.parse(e.data)
        if(data.type === 'chat'){
            
            check_point = data.check_point
            EnterGameKey = data.EnterGameKey
            if(EnterGameKey==1){//start game
                console.log("觸發")
                $("#wait").css("display","none")
                clearTimeout(timeout1)
                if(goBack==0){
                    ans = data.ans_number
                    today = data.today
                    check_point = data.check_point
                    nostalgiaGame_round_pk = data.nostalgiaGame_round_pk
                    $("#topic").html(`
                    <div class="col-xs-12 col-sm-6 col-md-12"><button class="choice"  onclick="test1(0)">${data.choice0}</button></div>
                    <div class="col-xs-12 col-sm-6 col-md-12"><button class="choice" onclick="test1(1)">${data.choice1}</button></div>
                    <div class="col-xs-12 col-sm-6 col-md-12"><button class="choice" onclick="test1(2)">${data.choice2}</button></div>
                    <div class="col-xs-12 col-sm-6 col-md-12"><button class="choice" onclick="test1(3)">${data.choice3}</button></div>
                    `)
                }
                timer0 = document.getElementById("countdown0");
                window.setInterval(countdown0, 1000);
                function countdown0(){
                    timer0.innerHTML = timer0.innerHTML - (-1);
                }
            }
            if(check_point==1){
                $("#topic").css("display","none")
                $("#after").removeClass("after").addClass("fadein")
                if(correct==1){
                    $("#response").html(`
                        <div style="margin:auto;display:flex;justify-content:center;align-items:center;">
                            
                                <span style="font-size:200%;color:green;font-weight:bold">您答對了</span>
                        </div>
                                <img src="/media/image/jojo.jpg" id="photo">
                        </div>
                        </div>
                        
                    `)
                }
                else{
                    $("#response").html(`
                    <div style="margin:auto;display:flex;justify-content:center;align-items:center;">
                            
                        <span style="font-size:200%;color:red;font-weight:bold">您答錯了</span>
                    </div>
                            <img src="/media/image/sponge.jpg" id="photo">
                    </div>
                    </div>
                    
                    `)
                }
                
                //window.location.href='/chat/gameEnd/{{pk}}/';
                //console.log("觸發所有人答題")
            }
            
            
        }
    }


    function test1(e){
        $("button").removeClass("choice").addClass("disabled")
        console.log($(this).text())
        
        if(e==ans){
            correct=1
        }
        else{
            correct=0
        }
        goBack = 1;
        
        count_number = $("#countdown0").text();
        $.ajax({
            url:"/chat/gameAjax/{{ pk }}/",
            traditional: true,
            type:'GET',
            //dataType:'json',
            data:{
                "correct":correct,
                "today":today,
                "count_number":count_number,
                'nostalgiaGame_round_pk':nostalgiaGame_round_pk,
            },
            success: function(){
            }
        })
        chatSocket.send(JSON.stringify({
            "goBack":goBack,
            "correct":correct,
        }))
    }

    function timeout1(){
        var abc=0
        window.setTimeout(function() {
            chatSocket.send(JSON.stringify({
                'goBack':goBack,
            }))
        },1000);
        setTimeout("timeout1()", 1000);
    }
    timeout1();
    

</script>
{% endblock %}