<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lobby</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Lets chat!</h1>
    
    <!-- <button id="btn">click</button> -->
    <form id="form">
        <input type="checkbox" name="check"/>
    </form> 

    <div id="messages">0/0</div>
    
    <script type="text/javascript">
        var count = 0;
        var people = 0
        var readyPeople = 0
        var selfFlag = 0;
        var url = `ws://${window.location.host}/ws/socket-server/`
        console.log(url)
        var chatSocket = new WebSocket(url)
        //var chatSocket = new WebSocket('ws://localhost:8000/ws/socket-server/')
        chatSocket.onopen  = function(e){
            chatSocket.send(JSON.stringify({
                'readyPeople':readyPeople
            }))
        }
        chatSocket.onmessage = function(e){
            //$("#messages").append(`<p>${data.message}/${readyPoeple}</p>`)
            let data = JSON.parse(e.data)
            //console.log('Data:', data.message)
            
            if(data.type === 'chat'){
                /*
                let messages = document.getElementById('messages')
                messages.insertAdjacentHTML('beforeend', `<div>
                                        <p>${data.message}/0</p>
                                    </div>`)*/
                $("#messages").html(`<p>${data.count}/<span id="readyPeople">${data.readyPeople}</span></p>`)
            }
        }

        let form = document.getElementById('form')
        form.addEventListener('click', (e)=> {
            
            if(selfFlag==0){//確認是否打勾狀態
                selfFlag = 1
                
                readyPeople = $("#readyPeople").text()
                readyPeople = parseInt(readyPeople)
                readyPeople += 1
                readyPeople = readyPeople.toString();
                chatSocket.send(JSON.stringify({
                    'readyPeople':readyPeople,
                    'selfFlag':selfFlag
                }))
            }
        })
    </script>
</body>
</html>